.pokemon-list-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin: 2rem auto;
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.controls button {
    padding: 1rem 1rem 0.5rem 0.5rem;
    margin-left: 1rem;
    background: linear-gradient(90deg, #ff0000, #cc0000);
    color: white; 
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.controls button:hover {
    background: linear-gradient(90deg, #cc0000, #990000);
    transform: scale(1.05);
}


.controls button:active {
    background: linear-gradient(90deg, #990000, #660000);
    transform: scale(0.95);
}
